name: Release Rust

on:
  push:
    tags:
      - 'v*'
      - '!py-oxbow@v*'
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Check crate
        run: cargo check --manifest-path oxbow/Cargo.toml --verbose

      - name: Run tests
        run: cargo test --manifest-path oxbow/Cargo.toml --verbose

  publish:
    needs: check
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5

      - uses: rust-lang/crates-io-auth-action@v1
        id: auth

      - name: Publish to crates.io
        run: cargo publish --manifest-path oxbow/Cargo.toml
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}